.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 300px;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 
                0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.card .card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-header img{
    width: 60%;
}

.card .card-footer{
    display: flex;
    gap: 1rem;
}

.card .card-footer a{
    background-color: blueviolet;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.card .card-footer a:hover{
    padding: .6rem;
}
