{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

   

<div class="cart-container">
    <h1>Your Cart</h1>
    <a href="{% url 'shop:product-list' %}">Shop</a>
    <p class="me-2">Items: {{order.get_cart_items}}</p>
    <a href="{% url 'shop:checkout' %}">Checkout</a>
    <table>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
        {% for item in items%}
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><img src="{{item.product.get_image_url}}" width='30px' class="cart-card-img-top" alt=""></td>
        <td>{{item.product.name}}</td>
        <td>${{item.product.price}}</td>
        <td class="cart-quantity">{{item.quantity}} 
            <div class="adjust-quantity">
                <i data-product_id={{item.product.id}} data-action="add" class="fa-solid fa-caret-up update-cart"></i> 
                <i data-product_id={{item.product.id}} data-action="remove" class="fa-solid fa-caret-down update-cart"></i>
            </div>
        </td>
        <td>${{item.get_total}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th scope="row"></th>
            <td class="cart-total" colspan="4">Total</td>
            <td>${{order.get_cart_total}}</td>
        </tr>
    </table>
</div>

{% endblock content %}
