{% extends "base.html" %}
{% block content %}
{% load static %}

   
<div class="checkout">
    <div class="">
        <form class="checkout-form" id="checkout-form">
            {% csrf_token%}
            <div class="checkout-user" id="checkout-user">
                <a href="{% url  'shop:add-to-cart' %}" class="">Back to cart</a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Name" name="user_name" aria-label="checkout-name" required>
                    <span class="input-group-text"></span>
                    <input type="email" class="form-control" placeholder="Email" name="user_email" aria-label="checkout-email" required>
                </div>
            </div>  
            <div class="checkout-address" id="checkout-shipping">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Address" name="user_address" aria-label="user_address" required>
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="City" name="user_city" aria-label="user_city" required>
                </div>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Zip Code" name="user_zip_code" aria-label="user_zip_code" required>
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="Country" name="user_country" aria-label="user_country" required>
                </div>
            </div>
            <button class="checkout-proceed" id="checkout-btn">Proceed</button>
            
        </form>
        <div class="checkout-payment form-control" id="checkout-btn-p">
            <small>Paypal Options</small>
            <button class="" id="paypal-payment-btn">Make Payment</button>
            <p>Mpesa</p>
            <p>Paypal</p>
            <p>Stripe</p>
        </div>
    </div>
    <div class="checkout-table">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                <th  colspan="6">Order Summary</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><img src="{{item.product.get_image_url}}" width='30px' class="cart-card-img-top" alt=""></td>
                <td>{{item.product.name}}</td>
                <td>${{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>${{item.get_total}}</td>
                </tr>
                {% endfor %}
                
                <tr>
                <th scope="row"></th>
                <td class="cart-total" colspan="4">Total</td>
                <td>${{order.get_cart_total}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<script>
    let shipping = '{{order.for_shipping}}'
    let total = '{{order.get_cart_total}}'
    if(shipping == 'False'){
        console.log("shipping")
        document.getElementById('checkout-shipping').style.display='none';
    }
    const checkoutForm = document.getElementById('checkout-form');
    checkoutForm.addEventListener('submit',(e)=>{
        e.preventDefault()
        console.log("Form submission")
        document.getElementById('checkout-btn').classList.add('hidden')
        document.getElementById('checkout-btn-p').classList.remove('hidden')
    });
</script>

{% endblock content %}
