{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

  
<div class="checkout">
    <form class="checkout-form" id="checkout-form">
            {% csrf_token%}
        <div class="checkout-user" id="checkout-user">
            <div class="checkout-links">
                <a href="{% url  'shop:add-to-cart' %}" class="checkout-back">Back to cart</a>
                <p class="checkout-total">Total - <span class="checkout-total-span">${{order.get_cart_total}}</span></p>
            </div>
            
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Your Name" name="user_name" aria-label="checkout-name" required autofocus>
                <span class="input-group-text"></span>
                <input type="email" class="form-control" placeholder="Enter Your Email Address" name="user_email" aria-label="checkout-email" required>
            </div>
        </div>  

        <div class="checkout-address" id="checkout-address">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Your Physical Address" name="user_address" aria-label="user_address" required>
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="City" name="user_city" aria-label="user_city" required>
            </div>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="Zip Code" name="user_zip_code" aria-label="user_zip_code" required>
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="Country" name="user_country" aria-label="user_country" required>
            </div>
        </div>

        <div class="proceed-button">
            <button class="checkout-proceed" id="checkout-proceed">Proceed</button>
        </div>          
    </form>
    
    <div class="payment-options" id="payment-options">
        <!-- <p>Paypal Options</p>
        <button class="" id="paypal-payment-btn">Make Payment</button> -->
        <div class="select-payment-header">
            <h3>Please Select Payment Method</h3>
        </div>
        <div class="select-payment-body">
            <div class="method">
                <a href=""><img src="../../static/shop/images/paypal.png" alt="" width="50" /></a>
                <a href="#"></a>
           </div>
           <div class="method">
                <a href="" ><img src="../../static/shop/images/stripe.png" alt="" width="80" /></a>
                <a href="#">Stripe</a>
            </div>
            <div class="method">
                <a href=""><img src="../../static/shop/images/mpesa.png" alt="" width="80" /></a>
                <a href="#">MPESA</a>
        </div>
       
    </div>

    <div class="checkout-table" id="checkout-table">
        <table>
            <tr>
                <th scope="col">SN</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
            {% for item in items%}
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><img src="{{item.product.get_image_url}}" width='30px' class="cart-card-img-top" alt=""></td>
            <td>{{item.product.name}}</td>
            <td>${{item.product.price}}</td>
            <td class="cart-quantity">
                {{item.quantity}}
            </td>
            <td>${{item.get_total}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td class="cart-total" colspan="4">Total</td>
                <td>${{order.get_cart_total}}</td>
            </tr>
        </table>
    </div>
</div>

<script>
    const checkoutForm = document.getElementById('checkout-form');
    const paymentOptions = document.getElementById('payment-options');
    const proceedButtonDiv = document.getElementById('checkout-proceedDiv');
    const proceedButton= document.getElementById('checkout-proceed');
    const checkoutTable = document.getElementById('checkout-table');
    const checkoutAddress = document.getElementById('checkout-address');
    const checkoutUser = document.getElementById('checkout-user');

    let shipping = '{{order.for_shipping}}'
    let total = '{{order.get_cart_total}}'
    if(shipping == 'False'){
        console.log("shipping")
        document.getElementById('checkout-address').style.display='none';
    }
    
    checkoutForm.addEventListener('submit',(e)=>{
        e.preventDefault()
        console.log("Form submission")
        proceedButtonDiv.style.display = 'none';
        checkoutAddress.style.display = 'none';
        paymentOptions.style.display = 'flex';
        // checkoutTable.style.display = 'flex';
        checkoutUser.style.display = 'none';
        userData(checkoutForm.user_name.value, checkoutForm.user_email.value)
    });

    const userData = (userName, userEmail)=>{
        console.log(`Username: ${userName} Email: ${userEmail}`)
    }
</script>

{% endblock content %}
